body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    background: linear-gradient(35deg, rgb(124, 56, 0), rgb(185, 74, 0));
    color: white;
    border-radius: 8px;
}

#calcBody {
    background-color: #F0DFC3;
    border-radius: 20px;
    max-width: 12em;
    padding: 0.9em 0.6em;
    box-shadow: 5px 5px 10px rgba(47, 47, 47, 0.7);
    margin: auto;
}

#blankBrownBar {
    padding: 2em 0.3em 0.3em 0.3em;
    background-color: rgb(69, 28, 0);
    border-radius: 15px;
}

#resultScreen {
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3em;
    letter-spacing: 3px;
    font-weight: bold;
    font-style: italic;
    color: cyan;
    background-color: black;
    padding: 1em 1em 1em 0em;
    height: 1em;
}

#inputButtons {
    padding: 5px;
    background-color: #f7e9d2;
    border-radius: 0px 0px 15px 15px;
    display: flex;
    justify-content: space-evenly;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.calcButton, .calcFuncButton {
    color: white;
    border-radius: 5px;
    width: 25px;
    text-align: center;
    font-size: 0.9em;
    background-color: rgb(44, 17, 0);
    padding: 8px;
}

.calcFuncButton {
    background-color: rgb(109, 95, 76);
}

#allClear {
    background-color: orangered;
}

input {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
}